/* FOOTER */
footer {
    color: color(secondary);
    // background-color: color(primary);
    text-align: center;
    font-size: font-size(small);
    padding: 10px 0;
    position: sticky;
    bottom: 0;
}
