/* VARIABLES */
/* Colors */
$colors: (
    primary: #198754, // TO DO... change to gradient
    secondary: white,
    text: black,
    error: red,
    link: rgb(50, 100, 255),
);

// Font sizes
$font-sizes: (
    header: 1.5em,
    title: 1em,
    paragraph: 0.75em,
    small: 0.6em
);
